In [24]:
import pandas as pd
import re

In [67]:
path='三通局5月过坝计划汇总.xlsx'
# path='0519三通局.xlsx'

In [68]:
def get_square_rate(row):
#     print(row)
#     for k,v in enumerate(row):
#         print(k,v)
    length=len(row)//2
    print('length',length)
    s=0
    for i in range(length):
        ind=2*i+1
        print('row_ind',row[ind],type(row[ind]))
        if pd.notnull(row[ind])  :
            l_w=re.split('[,，]',str(row[ind]))
            print('l_w',l_w)
            l=l_w[0]
            w=l_w[1]
            s=s+float(l)*float(w)
    rate=s/(34*280)
    print(s,rate)
    return rate

In [69]:
import numpy as np
pd.notna(np.nan)

False

In [70]:
s_path='res1_{}.xlsx'.format(path)
# with pd.ExcelWriter(s_path) as writer:
#     df1.to_excel(writer, sheet_name='df1')
#     df2.to_excel(writer, sheet_name='df2')

In [71]:
s_path

'res1_三通局5月过坝计划汇总.xlsx.xlsx'

In [79]:
dd=pd.read_excel(path,sheet_name=None,header=None)

In [80]:
dd.keys()

dict_keys(['【已完成】0531', '【已完成】0530', '【完成】0529', '【完成】0528', '【完成】0527', '【完成】0526', '【完成】0525', '【完成】0524', '【已完成】0523', '【完成】0522', '【完成】0521', '【完成】0520', '【完成】0519', '【完成】0518', '【完成】0517', '【完成】0516', '【完成】0515', '【完成】0514', '0513（未安排船舶）', '【完成】0512', '【完成】0511', '【完成】0510', '【完成】0509', '【完成】0508', '【完成】0507', '【完成】0506', '【完成】0505', '【完成】0504', '【完成】0503', '【完成】0502', '【完成】0501'])

In [81]:

with pd.ExcelWriter(s_path) as writer:
    for sheet_name,e_df in dd.items():
    #     print(sheet_name,e_df)
#           if sheet_name in ['【完成】0501','【完成】0509']:
#               pass
              print('sheet_name',sheet_name)
              aa=e_df.iloc[2:,3:].dropna(how='all',axis=1)
    #           aa=e_df.dropna(how='all',axis=1)
              aa.columns=range(aa.shape[1])
             
              aa['use_rate']=aa.apply(lambda x:get_square_rate(x),axis=1)

              aa.to_excel(writer, sheet_name=sheet_name,index=False)

sheet_name 【已完成】0531
length 5
row_ind 92.00, 16.20 <class 'str'>
l_w ['92.00', ' 16.20']
row_ind 99.80, 16.05 <class 'str'>
l_w ['99.80', ' 16.05']
row_ind 100.0，16.0 <class 'str'>
l_w ['100.0', '16.0']
row_ind 99.80, 16.25 <class 'str'>
l_w ['99.80', ' 16.25']
row_ind nan <class 'float'>
6313.94 0.6632289915966386
length 5
row_ind 104.98, 16.23 <class 'str'>
l_w ['104.98', ' 16.23']
row_ind 99.80, 16.25 <class 'str'>
l_w ['99.80', ' 16.25']
row_ind 92.00, 16.24 <class 'str'>
l_w ['92.00', ' 16.24']
row_ind 92.00, 16.20 <class 'str'>
l_w ['92.00', ' 16.20']
row_ind nan <class 'float'>
6310.055399999999 0.6628209453781512
length 5
row_ind 105.00, 16.23 <class 'str'>
l_w ['105.00', ' 16.23']
row_ind 99.80, 16.25 <class 'str'>
l_w ['99.80', ' 16.25']
row_ind 102.00, 16.24 <class 'str'>
l_w ['102.00', ' 16.24']
row_ind 100.0,16.0 <class 'str'>
l_w ['100.0', '16.0']
row_ind nan <class 'float'>
6582.38 0.6914264705882353
length 5
row_ind 129.98, 16.26 <class 'str'>
l_w ['129.98', ' 16.26']
row_ind 86.80, 16.23 <class 'str'>
l_w ['86.80', ' 16.23']
row_ind 86.0,15.0 <class 'str'>
l_w ['86.0', '15.0']
row_ind 112.00, 17.20 <class 'str'>
l_w ['112.00', ' 17.20']
row_ind nan <class 'float'>
6738.6388 0.7078402100840336
length 5
row_ind 108.00, 17.25 <class 'str'>
l_w ['108.00', ' 17.25']
row_ind 79.60, 13.60 <class 'str'>
l_w ['79.60', ' 13.60']
row_ind 89.80, 14.84 <class 'str'>
l_w ['89.80', ' 14.84']
row_ind 99.60, 16.70 <class 'str'>
l_w ['99.60', ' 16.70']
row_ind nan <class 'float'>
5941.512 0.6241084033613445
length 5
row_ind 110.00, 19.20 <class 'str'>
l_w ['110.00', ' 19.20']
row_ind 89.80, 14.80 <class 'str'>
l_w ['89.80', ' 14.80']
row_ind 108.00, 17.25 <class 'str'>
l_w ['108.00', ' 17.25']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5304.04 0.5571470588235294
length 5
row_ind 79.78, 13.22 <class 'str'>
l_w ['79.78', ' 13.22']
row_ind 110.00, 19.20 <class 'str'>
l_w ['110.00', ' 19.20']
row_ind 86.80, 16.30 <class 'str'>
l_w ['86.80', ' 16.30']
row_ind 92.00, 16.24 <class 'str'>
l_w ['92.00', ' 16.24']
row_ind nan <class 'float'>
6075.6116 0.6381944957983193
length 5
row_ind 65.50, 10.83 <class 'str'>
l_w ['65.50', ' 10.83']
row_ind 110.00, 19.25 <class 'str'>
l_w ['110.00', ' 19.25']
row_ind 100.0,16.0 <class 'str'>
l_w ['100.0', '16.0']
row_ind 99.80, 16.20 <class 'str'>
l_w ['99.80', ' 16.20']
row_ind nan <class 'float'>
6043.625 0.6348345588235295
length 5
row_ind 105.02, 16.23 <class 'str'>
l_w ['105.02', ' 16.23']
row_ind 105.00, 16.23 <class 'str'>
l_w ['105.00', ' 16.23']
row_ind 98.80, 16.20 <class 'str'>
l_w ['98.80', ' 16.20']
row_ind 86.86, 13.64 <class 'str'>
l_w ['86.86', ' 13.64']
row_ind nan <class 'float'>
6193.955000000001 0.6506255252100841
length 5
row_ind 100.20, 17.23 <class 'str'>
l_w ['100.20', ' 17.23']
row_ind 87.00, 14.83 <class 'str'>
l_w ['87.00', ' 14.83']
row_ind 87.00, 14.83 <class 'str'>
l_w ['87.00', ' 14.83']
row_ind 100.00, 17.23 <class 'str'>
l_w ['100.00', ' 17.23']
row_ind nan <class 'float'>
6029.866 0.6333892857142858
length 5
row_ind 100.0，16.0 <class 'str'>
l_w ['100.0', '16.0']
row_ind 85.28, 14.23 <class 'str'>
l_w ['85.28', ' 14.23']
row_ind 79.60, 13.60 <class 'str'>
l_w ['79.60', ' 13.60']
row_ind 93.82, 16.20 <class 'str'>
l_w ['93.82', ' 16.20']
row_ind 80.00, 13.63 <class 'str'>
l_w ['80.00', ' 13.63']
6506.3784 0.6834431092436974
length 5
row_ind 90.80, 14.84 <class 'str'>
l_w ['90.80', ' 14.84']
row_ind 86.80, 14.04 <class 'str'>
l_w ['86.80', ' 14.04']
row_ind 84.0,14.0 <class 'str'>
l_w ['84.0', '14.0']
row_ind 80.0,14.0 <class 'str'>
l_w ['80.0', '14.0']
row_ind 80.00, 13.63 <class 'str'>
l_w ['80.00', ' 13.63']
5952.544 0.6252672268907563
length 5
row_ind 110.00, 19.26 <class 'str'>
l_w ['110.00', ' 19.26']
row_ind 80.00, 13.08 <class 'str'>
l_w ['80.00', ' 13.08']
row_ind 107.00, 17.24 <class 'str'>
l_w ['107.00', ' 17.24']
row_ind 80.0，14.0 <class 'str'>
l_w ['80.0', '14.0']
row_ind nan <class 'float'>
6129.68 0.643873949579832
length 5
row_ind 110.00, 19.25 <class 'str'>
l_w ['110.00', ' 19.25']
row_ind 92.00, 14.84 <class 'str'>
l_w ['92.00', ' 14.84']
row_ind 92.00, 16.20 <class 'str'>
l_w ['92.00', ' 16.20']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4973.179999999999 0.5223928571428571
length 5
row_ind 110.00, 19.20 <class 'str'>
l_w ['110.00', ' 19.20']
row_ind 87.80, 14.82 <class 'str'>
l_w ['87.80', ' 14.82']
row_ind 106.00, 17.25 <class 'str'>
l_w ['106.00', ' 17.25']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5241.696 0.5505983193277311
length 5
row_ind 110.00, 19.20 <class 'str'>
l_w ['110.00', ' 19.20']
row_ind 86.0,14.0 <class 'str'>
l_w ['86.0', '14.0']
row_ind 104.81, 16.23 <class 'str'>
l_w ['104.81', ' 16.23']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5017.0663 0.5270027626050421
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【已完成】0530
length 6
row_ind 110.00, 19.25 <class 'str'>
l_w ['110.00', ' 19.25']
row_ind 87.30, 13.23 <class 'str'>
l_w ['87.30', ' 13.23']
row_ind 92.00, 16.23 <class 'str'>
l_w ['92.00', ' 16.23']
row_ind 99.80, 16.24 <class 'str'>
l_w ['99.80', ' 16.24']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6386.391 0.6708393907563025
length 6
row_ind 110.00, 19.24 <class 'str'>
l_w ['110.00', ' 19.24']
row_ind 83.00, 13.84 <class 'str'>
l_w ['83.00', ' 13.84']
row_ind 105.00, 17.20 <class 'str'>
l_w ['105.00', ' 17.20']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5071.12 0.5326806722689076
length 6
row_ind 99.0，16.0 <class 'str'>
l_w ['99.0', '16.0']
row_ind 84.90, 14.03 <class 'str'>
l_w ['84.90', ' 14.03']
row_ind 92.00, 14.83 <class 'str'>
l_w ['92.00', ' 14.83']
row_ind 105.0，16.0 <class 'str'>
l_w ['105.0', '16.0']
row_ind 80.0，14.0 <class 'str'>
l_w ['80.0', '14.0']
row_ind nan <class 'float'>
6939.507 0.7289398109243697
length 6
row_ind 99.80, 16.25 <class 'str'>
l_w ['99.80', ' 16.25']
row_ind 90.45, 14.83 <class 'str'>
l_w ['90.45', ' 14.83']
row_ind 92.00, 14.80 <class 'str'>
l_w ['92.00', ' 14.80']
row_ind 105.00, 16.25 <class 'str'>
l_w ['105.00', ' 16.25']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6030.9735 0.6335056197478992
length 6
row_ind 106.00, 17.28 <class 'str'>
l_w ['106.00', ' 17.28']
row_ind 79.0，13.0 <class 'str'>
l_w ['79.0', '13.0']
row_ind 79.60, 13.62 <class 'str'>
l_w ['79.60', ' 13.62']
row_ind 108.00, 17.25 <class 'str'>
l_w ['108.00', ' 17.25']
row_ind 86.80, 14.24 <class 'str'>
l_w ['86.80', ' 14.24']
row_ind nan <class 'float'>
7041.8640000000005 0.7396915966386555
length 6
row_ind 110.00, 19.25 <class 'str'>
l_w ['110.00', ' 19.25']
row_ind 80.0，13.0 <class 'str'>
l_w ['80.0', '13.0']
row_ind 105.00, 16.20 <class 'str'>
l_w ['105.00', ' 16.20']
row_ind 99.80, 16.23 <class 'str'>
l_w ['99.80', ' 16.23']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6478.254 0.6804888655462185
length 6
row_ind 87.00, 14.83 <class 'str'>
l_w ['87.00', ' 14.83']
row_ind 87.0，15.0 <class 'str'>
l_w ['87.0', '15.0']
row_ind 87.00, 14.82 <class 'str'>
l_w ['87.00', ' 14.82']
row_ind 94.80, 16.23 <class 'str'>
l_w ['94.80', ' 16.23']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5423.154 0.5696590336134454
length 6
row_ind 105.0，16.0 <class 'str'>
l_w ['105.0', '16.0']
row_ind 105.02, 16.23 <class 'str'>
l_w ['105.02', ' 16.23']
row_ind 87.00, 13.62 <class 'str'>
l_w ['87.00', ' 13.62']
row_ind 85.00, 14.83 <class 'str'>
l_w ['85.00', ' 14.83']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5829.9646 0.6123912394957983
length 6
row_ind 79.60, 13.60 <class 'str'>
l_w ['79.60', ' 13.60']
row_ind 80.00, 13.22 <class 'str'>
l_w ['80.00', ' 13.22']
row_ind 78.0，14.0 <class 'str'>
l_w ['78.0', '14.0']
row_ind 86.48, 14.24 <class 'str'>
l_w ['86.48', ' 14.24']
row_ind 79.60, 13.60 <class 'str'>
l_w ['79.60', ' 13.60']
row_ind 64.90, 11.50 <class 'str'>
l_w ['64.90', ' 11.50']
6292.5452000000005 0.6609816386554622
length 6
row_ind 105.0，17.0 <class 'str'>
l_w ['105.0', '17.0']
row_ind 78.00, 13.64 <class 'str'>
l_w ['78.00', ' 13.64']
row_ind 107.0，14.0 <class 'str'>
l_w ['107.0', '14.0']
row_ind 89.80, 16.04 <class 'str'>
l_w ['89.80', ' 16.04']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5787.312 0.6079109243697479
length 6
row_ind 110.00, 19.20 <class 'str'>
l_w ['110.00', ' 19.20']
row_ind 76.70, 12.00 <class 'str'>
l_w ['76.70', ' 12.00']
row_ind 108.0，17.0 <class 'str'>
l_w ['108.0', '17.0']
row_ind 86.48, 14.24 <class 'str'>
l_w ['86.48', ' 14.24']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6099.8751999999995 0.6407431932773109
length 6
row_ind 110.00, 19.28 <class 'str'>
l_w ['110.00', ' 19.28']
row_ind 109.80, 19.25 <class 'str'>
l_w ['109.80', ' 19.25']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4234.450000000001 0.44479516806722696
length 6
row_ind 109.70, 16.24 <class 'str'>
l_w ['109.70', ' 16.24']
row_ind 92.0，16.0 <class 'str'>
l_w ['92.0', '16.0']
row_ind 87.80, 14.63 <class 'str'>
l_w ['87.80', ' 14.63']
row_ind 110.00, 17.20 <class 'str'>
l_w ['110.00', ' 17.20']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6430.0419999999995 0.6754245798319327
length 6
row_ind 130.0，16.0 <class 'str'>
l_w ['130.0', '16.0']
row_ind 129.97, 16.24 <class 'str'>
l_w ['129.97', ' 16.24']
row_ind 130.0，16.0 <class 'str'>
l_w ['130.0', '16.0']
row_ind 129.90, 16.25 <class 'str'>
l_w ['129.90', ' 16.25']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
8381.5878 0.8804188865546217
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0529
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5370.0 0.5640756302521008
length 5
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 84，14 <class 'str'>
l_w ['84', '14']
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind 110，16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
6356.0 0.6676470588235294
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 83，15 <class 'str'>
l_w ['83', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5171.0 0.543172268907563
length 5
row_ind 107，17 <class 'str'>
l_w ['107', '17']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
7339.0 0.7709033613445379
length 5
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
6324.0 0.6642857142857143
length 5
row_ind 86，16 <class 'str'>
l_w ['86', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
6276.0 0.6592436974789916
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 98，16 <class 'str'>
l_w ['98', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5258.0 0.5523109243697479
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 75，13 <class 'str'>
l_w ['75', '13']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
6373.0 0.6694327731092437
length 5
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 95，16 <class 'str'>
l_w ['95', '16']
row_ind nan <class 'float'>
5435.0 0.5709033613445378
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
6365.0 0.6685924369747899
length 5
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind 99，15 <class 'str'>
l_w ['99', '15']
row_ind 78，13 <class 'str'>
l_w ['78', '13']
row_ind 92，14 <class 'str'>
l_w ['92', '14']
row_ind 81，14 <class 'str'>
l_w ['81', '14']
6505.0 0.6832983193277311
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 85，15 <class 'str'>
l_w ['85', '15']
row_ind nan <class 'float'>
5958.0 0.6258403361344538
length 5
row_ind 88，16 <class 'str'>
l_w ['88', '16']
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6272.0 0.6588235294117647
length 5
row_ind 107，17 <class 'str'>
l_w ['107', '17']
row_ind 92，14 <class 'str'>
l_w ['92', '14']
row_ind 79，14 <class 'str'>
l_w ['79', '14']
row_ind 92，16 <class 'str'>
l_w ['92', '16']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
6805.0 0.7148109243697479
length 5
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 92，16 <class 'str'>
l_w ['92', '16']
row_ind 91，14 <class 'str'>
l_w ['91', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4836.0 0.5079831932773109
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0528
length 4
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 75，13 <class 'str'>
l_w ['75', '13']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
5285.0 0.5551470588235294
length 4
row_ind 100，18 <class 'str'>
l_w ['100', '18']
row_ind 86，15 <class 'str'>
l_w ['86', '15']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 95，16 <class 'str'>
l_w ['95', '16']
5915.0 0.6213235294117647
length 4
row_ind 110，17 <class 'str'>
l_w ['110', '17']
row_ind 88，14 <class 'str'>
l_w ['88', '14']
row_ind 86，14 <class 'str'>
l_w ['86', '14']
row_ind 110，17 <class 'str'>
l_w ['110', '17']
6176.0 0.6487394957983194
length 4
row_ind 95，17 <class 'str'>
l_w ['95', '17']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 92，16 <class 'str'>
l_w ['92', '16']
6147.0 0.6456932773109244
length 4
row_ind 112，17 <class 'str'>
l_w ['112', '17']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 92，17 <class 'str'>
l_w ['92', '17']
row_ind 99，16 <class 'str'>
l_w ['99', '16']
6270.0 0.6586134453781513
length 4
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 80，13 <class 'str'>
l_w ['80', '13']
row_ind 110，17 <class 'str'>
l_w ['110', '17']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
6120.0 0.6428571428571429
length 4
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，17 <class 'str'>
l_w ['130', '17']
8450.0 0.8876050420168067
length 4
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 86，14 <class 'str'>
l_w ['86', '14']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
6400.0 0.6722689075630253
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 4
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0527
length 5
row_ind 134,19 <class 'str'>
l_w ['134', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5810.0 0.6102941176470589
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5340.0 0.5609243697478992
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5322.0 0.5590336134453782
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 77,12 <class 'str'>
l_w ['77', '12']
row_ind 66,11 <class 'str'>
l_w ['66', '11']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
6652.0 0.6987394957983193
length 5
row_ind 105,18 <class 'str'>
l_w ['105', '18']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
7316.0 0.7684873949579832
length 5
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 77，14 <class 'str'>
l_w ['77', '14']
7283.0 0.7650210084033613
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5370.0 0.5640756302521008
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 49,9 <class 'str'>
l_w ['49', '9']
row_ind 92,14 <class 'str'>
l_w ['92', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
6764.0 0.7105042016806723
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind nan <class 'float'>

row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0526
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 92，16 <class 'str'>
l_w ['92', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6352.0 0.6672268907563025
length 5
row_ind 92，16 <class 'str'>
l_w ['92', '16']
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind 107，16 <class 'str'>
l_w ['107', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6368.0 0.66890756302521
length 5
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 78，14 <class 'str'>
l_w ['78', '14']
7248.0 0.761344537815126
length 5
row_ind 107，17 <class 'str'>
l_w ['107', '17']
row_ind 90，15 <class 'str'>
l_w ['90', '15']
row_ind 79，13 <class 'str'>
l_w ['79', '13']
row_ind 110，16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
5956.0 0.6256302521008403
length 5
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 75，13 <class 'str'>
l_w ['75', '13']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
5285.0 0.5551470588235294
length 5
row_ind 110，17.24 <class 'str'>
l_w ['110', '17.24']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 73，13 <class 'str'>
l_w ['73', '13']
row_ind 109，17 <class 'str'>
l_w ['109', '17']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
7198.4 0.7561344537815126
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 74，14 <class 'str'>
l_w ['74', '14']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 81，13 <class 'str'>
l_w ['81', '13']
6667.0 0.7003151260504201
length 5
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0525
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
5805.0 0.6097689075630253
length 5
row_ind 110，18 <class 'str'>
l_w ['110', '18']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 107，17 <class 'str'>
l_w ['107', '17']
row_ind 92，17 <class 'str'>
l_w ['92', '17']
row_ind nan <class 'float'>
6743.0 0.7082983193277311
length 5
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92，17 <class 'str'>
l_w ['92', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6624.0 0.6957983193277311
length 5
row_ind 106，18 <class 'str'>
l_w ['106', '18']
row_ind 85，15 <class 'str'>
l_w ['85', '15']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 110，18 <class 'str'>
l_w ['110', '18']
row_ind nan <class 'float'>
6381.0 0.6702731092436974
length 5
row_ind 109，18 <class 'str'>
l_w ['109', '18']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6554.0 0.6884453781512605
length 5
row_ind 130，17 <class 'str'>
l_w ['130', '17']
row_ind 130，17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130，17 <class 'str'>
l_w ['130', '17']
row_ind nan <class 'float'>
8710.0 0.9149159663865546
length 5
row_ind 108，18 <class 'str'>
l_w ['108', '18']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 93，14 <class 'str'>
l_w ['93', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
6421.0 0.6744747899159664
length 5
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
5765.0 0.6055672268907563
length 5
row_ind 110，18 <class 'str'>
l_w ['110', '18']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 110，18 <class 'str'>
l_w ['110', '18']
row_ind nan <class 'float'>
6298.0 0.6615546218487395
length 5
row_ind 100，18 <class 'str'>
l_w ['100', '18']
row_ind 85，14 <class 'str'>
l_w ['85', '14']
row_ind 95，17 <class 'str'>
l_w ['95', '17']
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind nan <class 'float'>
6390.0 0.6712184873949579
length 5
row_ind 85，15 <class 'str'>
l_w ['85', '15']
row_ind 75，14 <class 'str'>
l_w ['75', '14']
row_ind 75，14 <class 'str'>
l_w ['75', '14']
row_ind 85，14 <class 'str'>
l_w ['85', '14']
row_ind 75,13 <class 'str'>
l_w ['75', '13']
5540.0 0.5819327731092437
length 5
row_ind 110，20 <class 'str'>
l_w ['110', '20']
row_ind 100，18 <class 'str'>
l_w ['100', '18']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5027.0 0.528046218487395
length 5
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 78，14 <class 'str'>
l_w ['78', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
6237.0 0.6551470588235294
length 5
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 77，14 <class 'str'>
l_w ['77', '14']
row_ind 100，17 <class 'str'>
l_w ['100', '17']
row_ind 90,17 <class 'str'>
l_w ['90', '17']
7408.0 0.7781512605042017
length 5
row_ind 110，18 <class 'str'>
l_w ['110', '18']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 89，15 <class 'str'>
l_w ['89', '15']
row_ind 107，17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6514.0 0.6842436974789916
length 5
row_ind 108，18 <class 'str'>
l_w ['108', '18']
row_ind 95，16 <class 'str'>
l_w ['95', '16']
row_ind 88，17 <class 'str'>
l_w ['88', '17']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
6340.0 0.6659663865546218
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0524
length 5
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 107,17.24 <class 'str'>
l_w ['107', '17.24']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
6950.68 0.7301134453781513
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5338.0 0.5607142857142857
length 5
row_ind 106，19 <class 'str'>
l_w ['106', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5374.0 0.5644957983193277
length 5
row_ind 106，18 <class 'str'>
l_w ['106', '18']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
7598.0 0.798109243697479
length 5
row_ind 110，20 <class 'str'>
l_w ['110', '20']
row_ind 72,13 <class 'str'>
l_w ['72', '13']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6336.0 0.6655462184873949
length 5
row_ind 110，17 <class 'str'>
l_w ['110', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 83,14 <class 'str'>
l_w ['83', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
7226.0 0.7590336134453781
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 103,16 <class 'str'>
l_w ['103', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5322.0 0.5590336134453782
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 105,18 <class 'str'>
l_w ['105', '18']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind nan <class 'float'>
6225.0 0.6538865546218487
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5082.0 0.5338235294117647
length 5
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5615.0 0.5898109243697479
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 79,11 <class 'str'>
l_w ['79', '11']
row_ind nan <class 'float'>
5419.0 0.5692226890756302
length 5
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
6593.0 0.6925420168067227
length 5
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 92,17 <class 'str'>
l_w ['92', '17']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 99.8,16.24 <class 'str'>
l_w ['99.8', '16.24']
row_ind nan <class 'float'>
6256.7519999999995 0.6572218487394957
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 90，15 <class 'str'>
l_w ['90', '15']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6929.0 0.7278361344537815
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 118,20 <class 'str'>
l_w ['118', '20']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 95,17 <class 'str'>
l_w ['95', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5794.0 0.6086134453781512
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【已完成】0523
length 5
row_ind 118，20 <class 'str'>
l_w ['118', '20']
row_ind 78,15 <class 'str'>
l_w ['78', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5400.0 0.5672268907563025
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 98,17 <class 'str'>
l_w ['98', '17']
row_ind 88,15 <class 'str'>
l_w ['88', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5076.0 0.5331932773109244
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 102,17 <class 'str'>
l_w ['102', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5504.0 0.5781512605042017
length 5
row_ind 102，17 <class 'str'>
l_w ['102', '17']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind nan <class 'float'>
6214.0 0.6527310924369748
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5530.0 0.5808823529411765
length 5
row_ind 85，15 <class 'str'>
l_w ['85', '15']
row_ind 81,14 <class 'str'>
l_w ['81', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind nan <class 'float'>
4476.0 0.47016806722689075
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5322.0 0.5590336134453782
length 5
row_ind 106，17 <class 'str'>
l_w ['106', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 89,16 <class 'str'>
l_w ['89', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
6048.0 0.6352941176470588
length 5
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 72,13 <class 'str'>
l_w ['72', '13']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
7107.0 0.7465336134453782
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 93,15 <class 'str'>
l_w ['93', '15']
row_ind 85,15 <class 'str'>
l_w ['85', '15']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6050.0 0.6355042016806722
length 5
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind nan <class 'float'>
5793.0 0.6085084033613445
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 32,16 <class 'str'>
l_w ['32', '16']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
5200.0 0.5462184873949579
length 5
row_ind 64,11 <class 'str'>
l_w ['64', '11']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 78,13 <class 'str'>
l_w ['78', '13']
5487.0 0.5763655462184873
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 74,14 <class 'str'>
l_w ['74', '14']
6950.0 0.7300420168067226
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 123，16 <class 'str'>
l_w ['123', '16']
row_ind nan <class 'float'>
8208.0 0.8621848739495799
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4794.0 0.5035714285714286
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0522
length 6
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 14,15 <class 'str'>
l_w ['14', '15']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5247.0 0.551155462184874
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']

row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5354.0 0.5623949579831933
length 6
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6353.0 0.6673319327731092
length 6
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 104.81,16.23 <class 'str'>
l_w ['104.81', '16.23']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5471.0663 0.5746918382352941
length 6
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6480.0 0.680672268907563
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
row_ind 97,12 <class 'str'>
l_w ['97', '12']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind nan <class 'float'>
7158.0 0.751890756302521
length 6
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 94,15 <class 'str'>
l_w ['94', '15']
row_ind 40,8 <class 'str'>
l_w ['40', '8']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
5792.0 0.6084033613445378
length 6
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6500.0 0.6827731092436975
length 6
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6095.0 0.6402310924369747
length 6
row_ind 97,18 <class 'str'>
l_w ['97', '18']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5941.0 0.6240546218487395
length 6
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
6975.0 0.7326680672268907
length 6
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 72,13 <class 'str'>
l_w ['72', '13']
row_ind nan <class 'float'>
6709.0 0.7047268907563026
length 6
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 77，14 <class 'str'>
l_w ['77', '14']
row_ind nan <class 'float'>
7239.0 0.7603991596638655
length 6
row_ind 108,18 <class 'str'>
l_w ['108', '18']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind nan <class 'float'>
7377.0 0.7748949579831933
length 6
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 6
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 92,14 <class 'str'>
l_w ['92', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6562.0 0.6892857142857143
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0521
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5390.0 0.5661764705882353
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,14 <class 'str'>
l_w ['100', '14']
row_ind 92,17 <class 'str'>
l_w ['92', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5054.0 0.5308823529411765
length 6
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6273.0 0.6589285714285714
length 6
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6430.0 0.6754201680672269
length 6
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6141.0 0.6450630252100841
length 6
row_ind 109,16 <class 'str'>
l_w ['109', '16']
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6694.0 0.7031512605042017
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 67,11 <class 'str'>
l_w ['67', '11']
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6219.0 0.6532563025210084
length 6
row_ind 110,20 <class 'str'>
l_w ['110', '20']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
row_ind 74,14 <class 'str'>
l_w ['74', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 90,14 <class 'str'>
l_w ['90', '14']
row_ind nan <class 'float'>
7216.0 0.7579831932773109
length 6
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 95,17 <class 'str'>
l_w ['95', '17']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6380.0 0.6701680672268907
length 6
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6278.0 0.659453781512605
length 6
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind 76,14 <class 'str'>
l_w ['76', '14']
row_ind 76,14 <class 'str'>
l_w ['76', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4978.0 0.5228991596638656
length 6
row_ind 76,14 <class 'str'>
l_w ['76', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 76,13 <class 'str'>
l_w ['76', '13']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
6253.0 0.656827731092437
length 6
row_ind 109,16 <class 'str'>
l_w ['109', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6308.0 0.6626050420168067
length 6
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6487.0 0.6814075630252101
length 6
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6281.0 0.6597689075630252
length 6
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 78,13 <class 'str'>
l_w ['78', '13']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6009.0 0.6311974789915966
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0520
length 6
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6352.0 0.6672268907563025
length 6
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 83,14 <class 'str'>
l_w ['83', '14']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6088.0 0.6394957983193277
length 6
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 106,18 <class 'str'>
l_w ['106', '18']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6568.0 0.6899159663865546
length 6
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 70,22 <class 'str'>
l_w ['70', '22']
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6088.0 0.6394957983193277
length 6
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 89,15 <class 'str'>
l_w ['89', '15']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6319.0 0.6637605042016806
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4180.0 0.43907563025210083
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5860.0 0.615546218487395
length 6
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind nan <class 'float'>
7684.0 0.8071428571428572
length 6
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 75,13 <class 'str'>
l_w ['75', '13']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5523.0 0.5801470588235295
length 6
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5908.0 0.6205882352941177
length 6
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind 84,14 <class 'str'>
l_w ['84', '14']
row_ind 81,14 <class 'str'>
l_w ['81', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
7670.0 0.805672268907563
length 6
row_ind 108,18 <class 'str'>
l_w ['108', '18']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 76,14 <class 'str'>
l_w ['76', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
6668.0 0.7004201680672268
length 6
row_ind 35,9 <class 'str'>
l_w ['35', '9']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
2955.0 0.31039915966386555
length 6
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 76,13 <class 'str'>
l_w ['76', '13']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,17 <class 'str'>
l_w ['92', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6322.0 0.6640756302521008
length 6
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6685.0 0.7022058823529411
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0519
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 460,80 <class 'str'>
l_w ['460', '80']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
42867.0 4.502836134453782
length 5
row_ind 92,16 <class 'str'>

l_w ['92', '16']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 76,13 <class 'str'>
l_w ['76', '13']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
6443.0 0.6767857142857143
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
6847.0 0.7192226890756303
length 5
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 86，15 <class 'str'>
l_w ['86', '15']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
5764.0 0.6054621848739495
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind nan <class 'float'>
6430.0 0.6754201680672269
length 5
row_ind 92,17 <class 'str'>
l_w ['92', '17']
row_ind 90,14 <class 'str'>
l_w ['90', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
5451.0 0.5725840336134453
length 5
row_ind 119,19 <class 'str'>
l_w ['119', '19']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
6373.0 0.6694327731092437
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 69,12 <class 'str'>
l_w ['69', '12']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 88,15 <class 'str'>
l_w ['88', '15']
row_ind nan <class 'float'>
6091.0 0.6398109243697478
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 77,14 <class 'str'>
l_w ['77', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
6710.0 0.7048319327731093
length 5
row_ind 78,13 <class 'str'>
l_w ['78', '13']
row_ind 87,16 <class 'str'>
l_w ['87', '16']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
6190.0 0.6502100840336135
length 5
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 78，11 <class 'str'>
l_w ['78', '11']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
6471.0 0.6797268907563025
length 5
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind nan <class 'float'>
5865.0 0.6160714285714286
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5146.0 0.5405462184873949
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 124,16 <class 'str'>
l_w ['124', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind nan <class 'float'>
8354.0 0.8775210084033613
length 5
row_ind 110,20 <class 'str'>
l_w ['110', '20']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 96,15 <class 'str'>
l_w ['96', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5476.0 0.5752100840336134
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0518
length 5
row_ind 109，17 <class 'str'>
l_w ['109', '17']
row_ind 83,15 <class 'str'>
l_w ['83', '15']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 103,16 <class 'str'>
l_w ['103', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
7438.0 0.7813025210084034
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
6989.0 0.7341386554621848
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5146.0 0.5405462184873949
length 5
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 93,15 <class 'str'>
l_w ['93', '15']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 109，17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
6430.0 0.6754201680672269
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
6862.0 0.7207983193277311
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 92,14 <class 'str'>
l_w ['92', '14']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6017.0 0.6320378151260504
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5402.0 0.567436974789916
length 5
row_ind 109,18 <class 'str'>
l_w ['109', '18']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
8327.0 0.8746848739495798
length 5
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
row_ind 94,16 <class 'str'>
l_w ['94', '16']
row_ind 88，16 <class 'str'>
l_w ['88', '16']
6701.0 0.7038865546218488
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5923.0 0.6221638655462185
length 5
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6223.0 0.6536764705882353
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 74,13 <class 'str'>
l_w ['74', '13']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind nan <class 'float'>
6044.0 0.6348739495798319
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6352.0 0.6672268907563025
length 5
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 84,14 <class 'str'>
l_w ['84', '14']
6770.0 0.7111344537815126
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 5
row_ind 90，15 <class 'str'>
l_w ['90', '15']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 102,15 <class 'str'>
l_w ['102', '15']
row_ind nan <class 'float'>
6362.0 0.6682773109243697
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0517
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
7212.0 0.757563025210084
length 5
row_ind 109,18 <class 'str'>
l_w ['109', '18']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 89,15 <class 'str'>
l_w ['89', '15']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
6471.0 0.6797268907563025
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5162.0 0.5422268907563025
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5162.0 0.5422268907563025
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 73,14 <class 'str'>
l_w ['73', '14']
7201.0 0.7564075630252101
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6351.0 0.6671218487394958
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6490.0 0.6817226890756303
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 76,12 <class 'str'>
l_w ['76', '12']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
6266.0 0.6581932773109244
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6250.0 0.6565126050420168
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 73,13 <class 'str'>
l_w ['73', '13']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5129.0 0.5387605042016806
length 5
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
5715.0 0.6003151260504201
length 5
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
3940.0 0.41386554621848737
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 57,10 <class 'str'>
l_w ['57', '10']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind nan <class 'float'>
5387.0 0.5658613445378151
length 5
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 78,16 <class 'str'>
l_w ['78', '16']
7344.0 0.7714285714285715
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
7365.0 0.7736344537815126
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 72,13 <class 'str'>
l_w ['72', '13']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
6098.0 0.6405462184873949
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0516
length 5
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind nan <class 'float'>
6043.0 0.6347689075630252
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
6609.0 0.6942226890756302
length 5
row_ind 103,16 <class 'str'>
l_w ['103', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6319.0 0.6637605042016806
length 5
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 78,13 <class 'str'>
l_w ['78', '13']
7008.0 0.7361344537815127
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind 73,13 <class 'str'>
l_w ['73', '13']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
6351.0 0.6671218487394958
length 5
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6185.0 0.6496848739495799
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5402.0 0.567436974789916
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind nan <class 'float'>
5965.0 0.6265756302521008
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind nan <class 'float'>
5635.0 0.5919117647058824
length 5
row_ind 104,16 <class 'str'>
l_w ['104', '16']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
6205.0 0.6517857142857143
length 5
row_ind 89,15 <class 'str'>
l_w ['89', '15']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5105.0 0.5362394957983193
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 93,15 <class 'str'>
l_w ['93', '15']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
6249.0 0.6564075630252101
length 5
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8580.0 0.9012605042016807
length 5
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 92,14 <class 'str'>
l_w ['92', '14']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5163.0 0.5423319327731092
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0515
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 78,13 <class 'str'>
l_w ['78', '13']
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
6164.0 0.6474789915966387
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 90,14 <class 'str'>
l_w ['90', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6490.0 0.6817226890756303
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind nan <class 'float'>
6416.0 0.6739495798319328
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,17 <class 'str'>
l_w ['92', '17']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6348.0 0.6668067226890756
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 65,13 <class 'str'>
l_w ['65', '13']
row_ind nan <class 'float'>
5771.0 0.6061974789915966
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6304.0 0.6621848739495798
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 72,13 <class 'str'>
l_w ['72', '13']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6306.0 0.6623949579831933
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 62,12 <class 'str'>
l_w ['62', '12']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 89,15 <class 'str'>
l_w ['89', '15']
row_ind nan <class 'float'>
5954.0 0.6254201680672269
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 68,11 <class 'str'>
l_w ['68', '11']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6198.0 0.6510504201680672
length 5
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 77,14 <class 'str'>
l_w ['77', '14']
row_ind 90,14 <class 'str'>
l_w ['90', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
6051.0 0.635609243697479
length 5
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind nan <class 'float'>
6010.0 0.6313025210084033
length 5
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,14 <class 'str'>
l_w ['92', '14']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind nan <class 'float'>
6402.0 0.6724789915966387
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']

row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0514
length 6
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6528.0 0.6857142857142857
length 6
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6164.0 0.6474789915966387
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5144.0 0.5403361344537815
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6090.0 0.6397058823529411
length 6
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 118,16 <class 'str'>
l_w ['118', '16']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6708.0 0.7046218487394958
length 6
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 6
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6031.0 0.6335084033613445
length 6
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6514.0 0.6842436974789916
length 6
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6359.0 0.6679621848739495
length 6
row_ind 100,5 <class 'str'>
l_w ['100', '5']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5080.0 0.5336134453781513
length 6
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 94,16 <class 'str'>
l_w ['94', '16']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5834.0 0.6128151260504202
length 6
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4705.0 0.4942226890756303
length 6
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
6520.0 0.6848739495798319
length 6
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 79,12 <class 'str'>
l_w ['79', '12']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 18,10 <class 'str'>
l_w ['18', '10']
row_ind nan <class 'float'>
6873.0 0.721953781512605
length 6
row_ind 109,19 <class 'str'>
l_w ['109', '19']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
7831.0 0.8225840336134453
length 6
row_ind 18,10 <class 'str'>
l_w ['18', '10']
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
3364.0 0.35336134453781515
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 0513（未安排船舶）
length 0
0 0.0
length 0
0 0.0
sheet_name 【完成】0512
length 6
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6452.0 0.6777310924369748
length 6
row_ind 109,19 <class 'str'>
l_w ['109', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5351.0 0.5620798319327731
length 6
row_ind 109,18 <class 'str'>
l_w ['109', '18']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
7505.0 0.7883403361344538
length 6
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind nan <class 'float'>
6808.0 0.7151260504201681
length 6
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
7056.0 0.7411764705882353
length 6
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5212.0 0.5474789915966387
length 6
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4953.0 0.5202731092436975
length 6
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 118,16 <class 'str'>
l_w ['118', '16']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6708.0 0.7046218487394958
length 6
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
6065.0 0.6370798319327731
length 6
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
6520.0 0.6848739495798319
length 6
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 94,16 <class 'str'>
l_w ['94', '16']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5834.0 0.6128151260504202
length 6
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4705.0 0.4942226890756303
length 6
row_ind 100,5 <class 'str'>
l_w ['100', '5']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5080.0 0.5336134453781513
length 6
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 6
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0511
length 5
row_ind 107,19 <class 'str'>
l_w ['107', '19']
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5345.0 0.5614495798319328
length 5
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind nan <class 'float'>
6461.0 0.6786764705882353
length 5
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 78,13 <class 'str'>
l_w ['78', '13']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 86，11 <class 'str'>
l_w ['86', '11']
6718.0 0.7056722689075631
length 5
row_ind 118,20 <class 'str'>
l_w ['118', '20']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5432.0 0.5705882352941176
length 5
row_ind 118,20 <class 'str'>
l_w ['118', '20']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5740.0 0.6029411764705882
length 5
row_ind 67,13 <class 'str'>
l_w ['67', '13']
row_ind 132,14 <class 'str'>
l_w ['132', '14']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
7743.0 0.8133403361344538
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
6416.0 0.6739495798319328
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6196.0 0.6508403361344538
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 63，13 <class 'str'>
l_w ['63', '13']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
5883.0 0.6179621848739496
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
7012.0 0.7365546218487395
length 5
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
5928.0 0.6226890756302521
length 5
row_ind 104,16 <class 'str'>
l_w ['104', '16']
row_ind 94,16 <class 'str'>
l_w ['94', '16']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 94,16 <class 'str'>
l_w ['94', '16']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
7076.0 0.7432773109243698
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 93,15 <class 'str'>
l_w ['93', '15']
7269.0 0.7635504201680672
length 5
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 99，16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
6320.0 0.6638655462184874
length 5
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6140.0 0.6449579831932774
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 80,15 <class 'str'>
l_w ['80', '15']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6439.0 0.6763655462184874
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0510
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5178.0 0.54390756302521
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind nan <class 'float'>
6542.0 0.6871848739495798
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 101，16 <class 'str'>
l_w ['101', '16']
row_ind nan <class 'float'>
6416.0 0.6739495798319328
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5370.0 0.5640756302521008
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5258.0 0.5523109243697479
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 81,14 <class 'str'>
l_w ['81', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
6723.0 0.7061974789915967
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
7346.0 0.7716386554621849
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 67,12 <class 'str'>
l_w ['67', '12']
row_ind 63,12 <class 'str'>
l_w ['63', '12']
row_ind 95,18 <class 'str'>
l_w ['95', '18']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
6466.0 0.6792016806722689
length 5
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 90，13 <class 'str'>
l_w ['90', '13']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 80，13 <class 'str'>
l_w ['80', '13']

6656.0 0.6991596638655462
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,13 <class 'str'>
l_w ['87', '13']
row_ind 84,15 <class 'str'>
l_w ['84', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5791.0 0.608298319327731
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 86,15 <class 'str'>
l_w ['86', '15']
row_ind nan <class 'float'>
6450.0 0.6775210084033614
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 87,16 <class 'str'>
l_w ['87', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4752.0 0.4991596638655462
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 104,16 <class 'str'>
l_w ['104', '16']
row_ind nan <class 'float'>
6424.0 0.6747899159663866
length 5
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 92,14 <class 'str'>
l_w ['92', '14']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6361.0 0.668172268907563
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4906.0 0.5153361344537815
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0509
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind nan <class 'float'>
6240.0 0.6554621848739496
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
7140.0 0.75
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 87,16 <class 'str'>
l_w ['87', '16']
row_ind nan <class 'float'>
6187.0 0.6498949579831933
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind nan <class 'float'>
5640.0 0.592436974789916
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
7094.0 0.7451680672268908
length 5
row_ind 106,16 <class 'str'>
l_w ['106', '16']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind nan <class 'float'>
5126.0 0.5384453781512605
length 5
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 90,13 <class 'str'>
l_w ['90', '13']
row_ind 90,14 <class 'str'>
l_w ['90', '14']
row_ind 58,11 <class 'str'>
l_w ['58', '11']
5666.0 0.5951680672268908
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5780.0 0.6071428571428571
length 5
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 90,17 <class 'str'>
l_w ['90', '17']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 86，14 <class 'str'>
l_w ['86', '14']
row_ind nan <class 'float'>
5874.0 0.6170168067226891
length 5
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 85，14 <class 'str'>
l_w ['85', '14']
row_ind nan <class 'float'>
5513.0 0.5790966386554622
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 79,12 <class 'str'>
l_w ['79', '12']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 93,15 <class 'str'>
l_w ['93', '15']
6843.0 0.7188025210084034
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 88,15 <class 'str'>
l_w ['88', '15']
7331.0 0.7700630252100841
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 50,5 <class 'str'>
l_w ['50', '5']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 8,17 <class 'str'>
l_w ['8', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
4779.0 0.5019957983193277
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0508
length 4
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 109,16 <class 'str'>
l_w ['109', '16']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
6044.0 0.6348739495798319
length 4
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 88,15 <class 'str'>
l_w ['88', '15']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
5400.0 0.5672268907563025
length 4
row_ind 89,14 <class 'str'>
l_w ['89', '14']
row_ind 90，15 <class 'str'>
l_w ['90', '15']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
5096.0 0.5352941176470588
length 4
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92，16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
6432.0 0.6756302521008404
length 4
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
5878.0 0.617436974789916
length 4
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind 88，14 <class 'str'>
l_w ['88', '14']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
5849.0 0.614390756302521
length 4
row_ind 106，17 <class 'str'>
l_w ['106', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
6202.0 0.6514705882352941
length 4
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
6750.0 0.7090336134453782
length 4
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92，16 <class 'str'>
l_w ['92', '16']
6352.0 0.6672268907563025
length 4
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
4544.0 0.4773109243697479
length 4
row_ind 93,16 <class 'str'>
l_w ['93', '16']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
6228.0 0.6542016806722689
length 4
row_ind 110，17 <class 'str'>
l_w ['110', '17']
row_ind 74,14 <class 'str'>
l_w ['74', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
5978.0 0.6279411764705882
length 4
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
7027.0 0.7381302521008404
length 4
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
6094.0 0.640126050420168
length 4
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 88，16 <class 'str'>
l_w ['88', '16']
row_ind 86，15 <class 'str'>
l_w ['86', '15']
5828.0 0.6121848739495799
length 4
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind nan <class 'float'>
5965.0 0.6265756302521008
length 4
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 93,17 <class 'str'>
l_w ['93', '17']
row_ind nan <class 'float'>
5351.0 0.5620798319327731
sheet_name 【完成】0507
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind  79，13 <class 'str'>
l_w [' 79', '13']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4953.0 0.5202731092436975
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 312,40 <class 'str'>
l_w ['312', '40']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
17070.0 1.7930672268907564
length 5
row_ind 110,20 <class 'str'>
l_w ['110', '20']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind nan <class 'float'>
6350.0 0.667016806722689
length 5
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
6108.0 0.6415966386554622
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5780.0 0.6071428571428571
length 5
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4344.0 0.45630252100840335
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 65,13 <class 'str'>
l_w ['65', '13']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
7240.0 0.7605042016806722
length 5
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
6414.0 0.6737394957983194
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
6057.0 0.6362394957983193
length 5
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87，13.6 <class 'str'>
l_w ['87', '13.6']
row_ind 100,18 <class 'str'>
l_w ['100', '18']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind nan <class 'float'>
5478.2 0.5754411764705882
length 5
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 90,13 <class 'str'>
l_w ['90', '13']
row_ind 90,14 <class 'str'>
l_w ['90', '14']
row_ind 58,11 <class 'str'>
l_w ['58', '11']
5666.0 0.5951680672268908
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
length 5
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
row_ind nan <class 'float'>
0 0.0
sheet_name 【完成】0506
length 5
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 118,16 <class 'str'>
l_w ['118', '16']
row_ind nan <class 'float'>
7103.0 0.7461134453781513
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92，15 <class 'str'>
l_w ['92', '15']
row_ind 78,14 <class 'str'>
l_w ['78', '14']
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
7083.0 0.7440126050420168
length 5
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 86，14 <class 'str'>
l_w ['86', '14']
7233.0 0.7597689075630252
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4970.0 0.5220588235294118
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 88，16 <class 'str'>
l_w ['88', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4970.0 0.5220588235294118
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5070.0 0.532563025210084
length 5
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
row_ind 108,18 <class 'str'>
l_w ['108', '18']
row_ind nan <class 'float'>
6006.0 0.6308823529411764
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 68，13 <class 'str'>
l_w ['68', '13']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
6354.0 0.6674369747899159
length 5
row_ind 118,20 <class 'str'>
l_w ['118', '20']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 98，17 <class 'str'>
l_w ['98', '17']
row_ind nan <class 'float'>
6510.0 0.6838235294117647
length 5
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind 77,14 <class 'str'>
l_w ['77', '14']
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
5718.0 0.6006302521008403
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5923.0 0.6221638655462185
length 5
row_ind 109，17 <class 'str'>
l_w ['109', '17']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
6423.0 0.6746848739495799
length 5
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 75，14 <class 'str'>
l_w ['75', '14']
row_ind 66，11 <class 'str'>
l_w ['66', '11']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
5531.0 0.5809873949579832
length 5
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind nan <class 'float'>
5261.0 0.5526260504201681
length 5
row_ind 110，17 <class 'str'>
l_w ['110', '17']
row_ind 76，13 <class 'str'>
l_w ['76', '13']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 103,16 <class 'str'>
l_w ['103', '16']
row_ind nan <class 'float'>
6186.0 0.6497899159663866
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4746.0 0.4985294117647059
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 5
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 109，17 <class 'str'>
l_w ['109', '17']
row_ind 86,10 <class 'str'>
l_w ['86', '10']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4693.0 0.4929621848739496

sheet_name 【完成】0505
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 75,13 <class 'str'>
l_w ['75', '13']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
7325.0 0.7694327731092437
length 5
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 99,17 <class 'str'>
l_w ['99', '17']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4275.0 0.4490546218487395
length 5
row_ind 95,17 <class 'str'>
l_w ['95', '17']
row_ind 90，15 <class 'str'>
l_w ['90', '15']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6245.0 0.6559873949579832
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 109，17 <class 'str'>
l_w ['109', '17']
row_ind nan <class 'float'>
6201.0 0.6513655462184874
length 5
row_ind 7,17 <class 'str'>
l_w ['7', '17']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 110，17 <class 'str'>
l_w ['110', '17']
row_ind 88,15 <class 'str'>
l_w ['88', '15']
row_ind nan <class 'float'>
4499.0 0.47258403361344536
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 84,14 <class 'str'>
l_w ['84', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind 86，14 <class 'str'>
l_w ['86', '14']
7276.0 0.7642857142857142
length 5
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6448.0 0.6773109243697479
length 5
row_ind 110，18 <class 'str'>
l_w ['110', '18']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6328.0 0.6647058823529411
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 105，16 <class 'str'>
l_w ['105', '16']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6537.0 0.6866596638655462
length 5
row_ind 110，19 <class 'str'>
l_w ['110', '19']
row_ind 68,13 <class 'str'>
l_w ['68', '13']
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5064.0 0.5319327731092437
length 5
row_ind 460,80 <class 'str'>
l_w ['460', '80']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 82，14 <class 'str'>
l_w ['82', '14']
row_ind 102，16 <class 'str'>
l_w ['102', '16']
row_ind nan <class 'float'>
41052.0 4.31218487394958
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87，15 <class 'str'>
l_w ['87', '15']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
6010.0 0.6313025210084033
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
5560.0 0.5840336134453782
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 93，16 <class 'str'>
l_w ['93', '16']
row_ind 79，13 <class 'str'>
l_w ['79', '13']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
6821.0 0.7164915966386555
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 108，17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5306.0 0.5573529411764706
length 5
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 113,16 <class 'str'>
l_w ['113', '16']
row_ind 10,12 <class 'str'>
l_w ['10', '12']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind nan <class 'float'>
6218.0 0.6531512605042017
sheet_name 【完成】0504
length 5
row_ind 105,17 <class 'str'>
l_w ['105', '17']
row_ind 73,13 <class 'str'>
l_w ['73', '13']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
6273.0 0.6589285714285714
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 107,16 <class 'str'>
l_w ['107', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind nan <class 'float'>
6544.0 0.6873949579831933
length 5
row_ind 105,18 <class 'str'>
l_w ['105', '18']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
6262.0 0.6577731092436975
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8320.0 0.8739495798319328
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 63,13 <class 'str'>
l_w ['63', '13']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind nan <class 'float'>
6299.0 0.6616596638655462
length 5
row_ind 109,17 <class 'str'>
l_w ['109', '17']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6397.0 0.6719537815126051
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 65,12 <class 'str'>
l_w ['65', '12']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
5864.0 0.6159663865546219
length 5
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 95,15 <class 'str'>
l_w ['95', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4975.0 0.5225840336134454
length 5
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6602.0 0.6934873949579832
length 5
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
5902.0 0.6199579831932773
length 5
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind 85,15 <class 'str'>
l_w ['85', '15']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
6329.0 0.6648109243697479
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind nan <class 'float'>
5460.0 0.5735294117647058
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6480.0 0.680672268907563
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5450.0 0.5724789915966386
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 76,13 <class 'str'>
l_w ['76', '13']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5058.0 0.5313025210084034
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5040.0 0.5294117647058824
sheet_name 【完成】0503
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 75,13 <class 'str'>
l_w ['75', '13']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 76,14 <class 'str'>
l_w ['76', '14']
6266.0 0.6581932773109244
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5354.0 0.5623949579831933
length 5
row_ind 109,18 <class 'str'>
l_w ['109', '18']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 80,13 <class 'str'>
l_w ['80', '13']
row_ind 93,15 <class 'str'>
l_w ['93', '15']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
6451.0 0.6776260504201681
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind 88,16 <class 'str'>
l_w ['88', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5258.0 0.5523109243697479
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,15 <class 'str'>
l_w ['130', '15']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8190.0 0.8602941176470589
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
6779.0 0.7120798319327731
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6196.0 0.6508403361344538
length 5
row_ind 90,15 <class 'str'>
l_w ['90', '15']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 91,15 <class 'str'>
l_w ['91', '15']
row_ind 77,13 <class 'str'>
l_w ['77', '13']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
6300.0 0.6617647058823529
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 86,14 <class 'str'>
l_w ['86', '14']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
5666.0 0.5951680672268908
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5095.0 0.5351890756302521
length 5
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 108,17 <class 'str'>
l_w ['108', '17']
row_ind nan <class 'float'>
6024.0 0.6327731092436975
length 5
row_ind 101,17 <class 'str'>
l_w ['101', '17']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind nan <class 'float'>
5912.0 0.6210084033613446
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5370.0 0.5640756302521008
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 65,13 <class 'str'>
l_w ['65', '13']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 110,17 <class 'str'>
l_w ['110', '17']
row_ind nan <class 'float'>
6185.0 0.6496848739495799
length 5
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 88,14 <class 'str'>
l_w ['88', '14']
row_ind 107,17 <class 'str'>
l_w ['107', '17']
row_ind nan <class 'float'>
6250.0 0.6565126050420168
length 5
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 100，16 <class 'str'>
l_w ['100', '16']
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5322.0 0.5590336134453782
sheet_name 【完成】0502
length 5
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 82,14 <class 'str'>
l_w ['82', '14']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind 108,18 <class 'str'>
l_w ['108', '18']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
6897.0 0.7244747899159664
length 5
row_ind 106,18 <class 'str'>
l_w ['106', '18']
row_ind 83,14 <class 'str'>
l_w ['83', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 88,16 <class 'str'>
l_w ['88', '16']
7278.0 0.7644957983193277
length 5
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 110,18 <class 'str'>
l_w ['110', '18']
row_ind 93,14 <class 'str'>
l_w ['93', '14']
row_ind 110,16 <class 'str'>
l_w ['110', '16']
row_ind nan <class 'float'>
7022.0 0.7376050420168068
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 79,13 <class 'str'>
l_w ['79', '13']
row_ind 112,17 <class 'str'>
l_w ['112', '17']
row_ind 88,15 <class 'str'>
l_w ['88', '15']
row_ind nan <class 'float'>
6341.0 0.6660714285714285
length 5
row_ind 110,20 <class 'str'>
l_w ['110', '20']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5368.0 0.5638655462184874
length 5
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 99,16 <class 'str'>
l_w ['99', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6384.0 0.6705882352941176
length 5
row_ind 102,16 <class 'str'>
l_w ['102', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
6432.0 0.6756302521008404
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 67,12 <class 'str'>
l_w ['67', '12']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6046.0 0.6350840336134453
length 5
row_ind 110,20 <class 'str'>
l_w ['110', '20']
row_ind 98,16 <class 'str'>
l_w ['98', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5368.0 0.5638655462184874
length 5
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind nan <class 'float'>
6352.0 0.6672268907563025
length 5
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 75,14 <class 'str'>
l_w ['75', '14']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
4995.0 0.5246848739495799
length 5
row_ind 95,16 <class 'str'>
l_w ['95', '16']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind 85,14 <class 'str'>
l_w ['85', '14']
row_ind 87,15 <class 'str'>
l_w ['87', '15']
row_ind nan <class 'float'>
5320.0 0.5588235294117647
length 5
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 100,17 <class 'str'>
l_w ['100', '17']
row_ind 87,14 <class 'str'>
l_w ['87', '14']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 79,14 <class 'str'>
l_w ['79', '14']
7196.0 0.7558823529411764
length 5
row_ind 105,16 <class 'str'>
l_w ['105', '16']
row_ind 80,14 <class 'str'>
l_w ['80', '14']
row_ind 92,16 <class 'str'>
l_w ['92', '16']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind nan <class 'float'>
5872.0 0.6168067226890757
length 5
row_ind 110,19 <class 'str'>
l_w ['110', '19']
row_ind 106,17 <class 'str'>
l_w ['106', '17']
row_ind 92,15 <class 'str'>
l_w ['92', '15']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
5272.0 0.553781512605042
length 5
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,16 <class 'str'>
l_w ['130', '16']
row_ind 130,17 <class 'str'>
l_w ['130', '17']
row_ind nan <class 'float'>
8450.0 0.8876050420168067
length 5
row_ind 108,18 <class 'str'>
l_w ['108', '18']
row_ind 100,16 <class 'str'>
l_w ['100', '16']
row_ind 90,16 <class 'str'>
l_w ['90', '16']
row_ind nan <class 'float'>
row_ind nan <class 'float'>
4984.0 0.5235294117647059
sheet_name 【完成】0501
length 5
row_ind 110，19.25 <class 'str'>
l_w ['110', '19.25']
row_ind 80，13.22 <class 'str'>
l_w ['80', '13.22']
row_ind 103.6，16.25 <class 'str'>
l_w ['103.6', '16.25']
row_ind 92，16.24 <class 'str'>
l_w ['92', '16.24']
row_ind nan <class 'float'>
6352.68 0.6672983193277311
length 5
row_ind 92，16.20 <class 'str'>
l_w ['92', '16.20']
row_ind 105，16.24 <class 'str'>
l_w ['105', '16.24']
row_ind 108.8，17.24 <class 'str'>
l_w ['108.8', '17.24']
row_ind 80，14 <class 'str'>
l_w ['80', '14']
row_ind nan <class 'float'>
6191.311999999999 0.6503478991596637
length 5
row_ind 110，19.28 <class 'str'>
l_w ['110', '19.28']
row_ind 106.8，16.25 <class 'str'>
l_w ['106.8', '16.25']
row_ind 99.8，16.2 <class 'str'>
l_w ['99.8', '16.2']
row_ind nan <class 'float'>

row_ind nan <class 'float'>
5473.06 0.5749012605042018
length 5
row_ind 109.99，17.20 <class 'str'>
l_w ['109.99', '17.20']
row_ind 86，15.05 <class 'str'>
l_w ['86', '15.05']
row_ind 90，15 <class 'str'>
l_w ['90', '15']
row_ind 110，16 <class 'str'>
l_w ['110', '16']
row_ind 80，13.63 <class 'str'>
l_w ['80', '13.63']
7386.528 0.7758957983193278
length 5
row_ind 112，17.2 <class 'str'>
l_w ['112', '17.2']
row_ind 87.6，13.64 <class 'str'>
l_w ['87.6', '13.64']
row_ind 82，14.24 <class 'str'>
l_w ['82', '14.24']
row_ind 107，17.24 <class 'str'>
l_w ['107', '17.24']
row_ind 86.48，14.24 <class 'str'>
l_w ['86.48', '14.24']
7365.0992 0.7736448739495798
length 5
row_ind 108，17.25 <class 'str'>
l_w ['108', '17.25']
row_ind 79.5，13.63 <class 'str'>
l_w ['79.5', '13.63']
row_ind 92，14.83 <class 'str'>
l_w ['92', '14.83']
row_ind 105，17 <class 'str'>
l_w ['105', '17']
row_ind 79.6，13.6 <class 'str'>
l_w ['79.6', '13.6']
7178.504999999999 0.7540446428571428
length 5
row_ind 106，17.36 <class 'str'>
l_w ['106', '17.36']
row_ind 92，14.8 <class 'str'>
l_w ['92', '14.8']
row_ind 99.8，16.25 <class 'str'>
l_w ['99.8', '16.25']
row_ind 99.8，16.24 <class 'str'>
l_w ['99.8', '16.24']
row_ind nan <class 'float'>
6444.262 0.6769182773109244
length 5
row_ind 108，19.20 <class 'str'>
l_w ['108', '19.20']
row_ind 68，12.83 <class 'str'>
l_w ['68', '12.83']
row_ind 86.8，16.52 <class 'str'>
l_w ['86.8', '16.52']
row_ind 98，16.23 <class 'str'>
l_w ['98', '16.23']
row_ind nan <class 'float'>
5970.516 0.6271550420168067
length 5
row_ind 99.8，16.24 <class 'str'>
l_w ['99.8', '16.24']
row_ind 86.8，15 <class 'str'>
l_w ['86.8', '15']
row_ind 98，16.2 <class 'str'>
l_w ['98', '16.2']
row_ind 99.8，16.24 <class 'str'>
l_w ['99.8', '16.24']
row_ind nan <class 'float'>
6131.103999999998 0.6440235294117646
length 5
row_ind 99.8，16.24 <class 'str'>
l_w ['99.8', '16.24']
row_ind 90，15.04 <class 'str'>
l_w ['90', '15.04']
row_ind 87.8，14.82 <class 'str'>
l_w ['87.8', '14.82']
row_ind 105，16.23 <class 'str'>
l_w ['105', '16.23']
row_ind nan <class 'float'>
5979.698 0.6281195378151261
length 5
row_ind 100，17.20 <class 'str'>
l_w ['100', '17.20']
row_ind 87，14.83 <class 'str'>
l_w ['87', '14.83']
row_ind 86.8，14.03 <class 'str'>
l_w ['86.8', '14.03']
row_ind 100，17.23 <class 'str'>
l_w ['100', '17.23']
row_ind nan <class 'float'>
5951.014 0.625106512605042
length 5
row_ind 100，17.20 <class 'str'>
l_w ['100', '17.20']
row_ind 85，14 <class 'str'>
l_w ['85', '14']
row_ind 105.02，16.23 <class 'str'>
l_w ['105.02', '16.23']
row_ind 105，16.23 <class 'str'>
l_w ['105', '16.23']
row_ind nan <class 'float'>
6318.624599999999 0.6637210714285714
length 5
row_ind 100，17.23 <class 'str'>
l_w ['100', '17.23']
row_ind 88.8，14.63 <class 'str'>
l_w ['88.8', '14.63']
row_ind 88，15 <class 'str'>
l_w ['88', '15']
row_ind 100，17.23 <class 'str'>
l_w ['100', '17.23']
row_ind nan <class 'float'>
6065.144 0.6370949579831933
length 5
row_ind 110，17.20 <class 'str'>
l_w ['110', '17.20']
row_ind 92，14.8 <class 'str'>
l_w ['92', '14.8']
row_ind 103.18，16.24 <class 'str'>
l_w ['103.18', '16.24']
row_ind 106.8，16.24 <class 'str'>
l_w ['106.8', '16.24']
row_ind nan <class 'float'>
6663.675200000001 0.6999658823529412
length 5
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 130，16 <class 'str'>
l_w ['130', '16']
row_ind 129.98，16.24 <class 'str'>
l_w ['129.98', '16.24']
row_ind 129.92，16.24 <class 'str'>
l_w ['129.92', '16.24']
row_ind nan <class 'float'>
8380.775999999998 0.880333613445378
length 5
row_ind 110，18.30 <class 'str'>
l_w ['110', '18.30']
row_ind 87，14 <class 'str'>
l_w ['87', '14']
row_ind 108.8，17.20 <class 'str'>
l_w ['108.8', '17.20']
row_ind 82，15.05 <class 'str'>
l_w ['82', '15.05']
row_ind nan <class 'float'>
6336.46 0.665594537815126

In [61]:
e_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,5.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,序号,闸室利用率,时间,船名,尺寸,船名,尺寸,船名,尺寸,船名,尺寸,船名,尺寸,船名,尺寸
2,1,NaN,2021-05-01 19:00:00,河牛136,110，19.25,欣陇668,80，13.22,启航06,103.6，16.25,安舟76,92，16.24,NaN,NaN,NaN,NaN
3,2,NaN,2021-05-01 20:30:00,豫祥昇15000,92，16.20,扬子江物流686,105，16.24,江航806,108.8，17.24,全诚789,80，14,NaN,NaN,NaN,NaN
4,3,NaN,2021-05-01 22:00:00,夔峡989,110，19.28,和谐1001,106.8，16.25,全诚6号,99.8，16.2,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sheet_name

'【完成】0501'

In [5]:
e_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,5.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,序号,闸室利用率,时间,船名,尺寸,船名,尺寸,船名,尺寸,船名,尺寸,船名,尺寸,船名,尺寸
2,1,NaN,2021-05-01 19:00:00,河牛136,110，19.25,欣陇668,80，13.22,启航06,103.6，16.25,安舟76,92，16.24,NaN,NaN,NaN,NaN
3,2,NaN,2021-05-01 20:30:00,豫祥昇15000,92，16.20,扬子江物流686,105，16.24,江航806,108.8，17.24,全诚789,80，14,NaN,NaN,NaN,NaN
4,3,NaN,2021-05-01 22:00:00,夔峡989,110，19.28,和谐1001,106.8，16.25,全诚6号,99.8，16.2,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
aa.head()

,3,4,5,6,7,8,9,10,11,12
2,河牛136,110，19.25,欣陇668,80，13.22,启航06,103.6，16.25,安舟76,92，16.24,NaN,NaN
3,豫祥昇15000,92，16.20,扬子江物流686,105，16.24,江航806,108.8，17.24,全诚789,80，14,NaN,NaN
4,夔峡989,110，19.28,和谐1001,106.8，16.25,全诚6号,99.8，16.2,NaN,NaN,NaN,NaN
5,长荣968,109.99，17.20,政涛中华958,86，15.05,夔峡658,90，15,镔港806,110，16,鑫运旺1号,80，13.63
6,民权,112，17.2,盛畅8188,87.6，13.64,宏发999,82，14.24,长航集运0332,107，17.24,云浩666,86.48，14.24

In [8]:
aa.shape

(5, 10)

In [10]:
aa.head()

,0,1,2,3,4,5,6,7,8,9
2,河牛136,110，19.25,欣陇668,80，13.22,启航06,103.6，16.25,安舟76,92，16.24,NaN,NaN
3,豫祥昇15000,92，16.20,扬子江物流686,105，16.24,江航806,108.8，17.24,全诚789,80，14,NaN,NaN
4,夔峡989,110，19.28,和谐1001,106.8，16.25,全诚6号,99.8，16.2,NaN,NaN,NaN,NaN
5,长荣968,109.99，17.20,政涛中华958,86，15.05,夔峡658,90，15,镔港806,110，16,鑫运旺1号,80，13.63
6,民权,112，17.2,盛畅8188,87.6，13.64,宏发999,82，14.24,长航集运0332,107，17.24,云浩666,86.48，14.24

In [16]:
aa['use_rate']=aa.apply(lambda x:get_square_rate(x),axis=1)

6352.68 0.6672983193277311
6191.311999999999 0.6503478991596637
5473.06 0.5749012605042018
7386.528 0.7758957983193278
7365.0992 0.7736448739495798

In [17]:
aa

,0,1,2,3,4,5,6,7,8,9,use_rate
2,河牛136,110，19.25,欣陇668,80，13.22,启航06,103.6，16.25,安舟76,92，16.24,NaN,NaN,0.667298
3,豫祥昇15000,92，16.20,扬子江物流686,105，16.24,江航806,108.8，17.24,全诚789,80，14,NaN,NaN,0.650348
4,夔峡989,110，19.28,和谐1001,106.8，16.25,全诚6号,99.8，16.2,NaN,NaN,NaN,NaN,0.574901
5,长荣968,109.99，17.20,政涛中华958,86，15.05,夔峡658,90，15,镔港806,110，16,鑫运旺1号,80，13.63,0.775896
6,民权,112，17.2,盛畅8188,87.6，13.64,宏发999,82，14.24,长航集运0332,107，17.24,云浩666,86.48，14.24,0.773645

In [15]:

for k,v in aa.iterrows():
#     print(k,v)
    length=aa.shape[1]//2
    s=0
    for i in range(length):
        ind=2*i+1
        print(v[ind])
        if pd.notnull(v[ind]):
            l_w=re.split('[,，]',str(v[ind]))
#             print(l_w)
            l=l_w[0]
            w=l_w[1]
            s=s+float(l)*float(w)
    rate=s/(34*280)
    print(s,rate)
#         print(k,re.search('\d[,，]\d',str(e_v)))

110，19.25
80，13.22
103.6，16.25
92，16.24
nan
6352.68 0.6672983193277311
92，16.20
105，16.24
108.8，17.24
80，14
nan
6191.311999999999 0.6503478991596637
110，19.28
106.8，16.25
99.8，16.2
nan
nan
5473.06 0.5749012605042018
109.99，17.20
86，15.05
90，15
110，16
80，13.63
7386.528 0.7758957983193278
112，17.2
87.6，13.64
82，14.24
107，17.24
86.48，14.24
7365.0992 0.7736448739495798

NameError: name 'df1' is not defined